body {
  background: #f6f6f6;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.panel {
  position: absolute;
  width: 10em;
  margin-left: 0.5em;
  font-size: 1em;
}

.panel ul {
  margin: 0;
}

.panel li {
  list-style-type: none;
  font-size: 0.75em;
  padding: 0.25em 0;
}

.logo {
  text-align: center;
  top: -0.5em;
}

.ligne {
  display: block;
  margin: 0.3em 0;
}

.accueil ul {
  margin-top: 1em;
  padding: 0;
  margin-left: 0.6em;
}

.accueil li {
  margin-left: 0.5em;
}

.panelmenu ul {
  padding: 0;
  margin-left: 1.85em;
}

h3 {
	font-size: inherit;
	color: #4d4d4d;
	font-weight: normal;
  font-size: 0.75em;
	margin: 0;
  margin-left: 0.6em;
	padding: 0.25em 0 0.25em 0.25em;
}

.gradient {
  height: 5em;
  background-image: linear-gradient(#ffffff 50%,#f6f6f6 100%);
}

.gradient ul {
  padding: 0;
  margin: 0;
}

.gradient>div{
  margin-left: 11em;
}

.personnel li, .oncontent li, .navdroiteliens li {
  display: inline;
}

.user {
  vertical-align: middle;
  padding-bottom: 0.1em;
  padding-right: 0.3em;
}

.personnel {
  position: absolute;
  top: 0.33em;
  right: 1em;
}

.personnel li {
	line-height: 1.125em;
	margin-left: 0.75em;
	margin-top: 0.5em;
  font-size: 0.75em;
}

.oncontent, .navdroiteliens {
  margin-top: 2.4em;
  padding-top: 1.25em;
  padding-bottom: 0.16em;
  background-image: linear-gradient(#ffffff 10%,#e8f2f8 100%);
}

.oncontent li, .navdroiteliens li {
  font-size: 0.8em;
  padding: 1.25em 0.5em 0.3em 0.5em;
  border-left: 1px solid #a8d7f9;
}

.oncontent li:first-child, .navdroiteliens li:first-child {
  background: white;
  margin-right: -0.4em;
  padding-bottom: 5px;
}

.oncontent li:last-child, .navdroiteliens li:last-child {
  border-right: 1px solid #a8d7f9;
}

.oncontent {
  float: left;
}

.droite {
  float: right;
}

.navdroiteliens {
  display: inline-block;
}

.actionrecherche {
  display: inline-block;
  vertical-align: bottom;
}

.cherche {
  width: 20vw;
  min-width: 5em;
  max-width: 20em;
  padding-right: 1.4em;
  margin: 0 1em 0.2em 0.5em;
  height: 1.4em;
  border: solid 1px #aaa;
  background-image: linear-gradient(#f6f6f6 10%,#ffffff 50%);
}

.recherche {
  float: left;
}

#champ {
  width: 100%;
  padding: 0.2em 0 0.2em 0.2em;
  font-size: 13px;
  background-color: transparent;
  border: none;
}

.go {
  float: right;
}

#searchbouton {
  float: right;
  width: 1.65em;
  border: none;
  cursor: pointer;
  background: url("nyancat_fichiers/search.png");
}

.content {
  margin-left: 11em;
  padding: 1.25em 1.5em 1.5em 1.5em;
  border: 1px #a7d7f9 solid;
  background: white;
  font-size: 1em;
}

.content h1, .content h2 {
  font-family: "Linux Libertine",Georgia,Times,serif;
  font-weight: normal;
  font-size: 1.8em;
  line-height: 1.3em;
  margin: 0;
  border-bottom: 1px #aaa solid;
}

.content h2 {
  font-size: 1.3em;
  margin-top: 1em;
}

.content h3 {
  border-bottom: dotted 1px #aaa;
  font-weight: bold;
  font-size: 1.2em;
  color: black;
  padding: 0;
  padding-top: 0.5em;
  margin: 0;
}

.content p {
  margin: 0.5em 0;
  font-size: 0.9em;
  line-height: 1.6;
}

.content ul {
  padding-left: 1em;
}

.content .note {
	padding: 0.2em 0 0.2em 2em;
	font-style: italic;
	border-bottom: 1px #aaa solid;
}

figure {
  margin: .5em 0 1.3em 1.4em;
  padding: 3px;
  width: 172px;
  float: right;
  background: #f9f9f9;
	border: 1px solid #ccc;
	font-size: 94%;
}

figcaption {
  font-size: 0.8em;
  padding: 0.3em;
}

figcaption img{
  float: right;
}

.toc {
  display: inline-block;
  padding: 8px;
  border: 1px solid #aaa;
  background-color: #f9f9f9;
  font-size: 0.85em;
}

.toc ol {
  font-size: 95%;
  margin: 0;
  padding-left: 1.3em;
}

.toc li {
  padding: 0.2em;
}

table {
  width: 50%;
  text-align: center;
  margin: 1em auto;
  background-color: #f9f9f9;
  border: 1px solid #aaa;
  font-size: 0.95em;
}

tr:nth-child(odd) {
  background: #eee;
}

table th, table td {
  padding: 0.2em 0.4em;
}

caption {
  font-weight: bold;
}

.ref {
  -moz-column-count: 2;
  font-size: 0.75em;
  margin: 0.6em 0 0 3.2em;
}

.ref ol {
  padding: 0;
}

.ref li {
  margin-bottom: 0.1em;
  line-height: 1.6;
}

.portaux, .categories {
  border: 1px solid #aaa;
  background-color: #f9f9f9;
  padding: 4px;
}

.portaux {
  font-weight: bold;
  text-align: center;
}

.categories {
  padding: 5px;
  line-height: 1.6;
}

.portaux li {
  margin: auto 1.5em;
}

.portaux img {
  vertical-align: middle;
  margin-right: 0.5em;
}

.portaux li, .categories li {
  display: inline;
}

.categories a, .categories ul{
  display: inline;
}

.categories li {
  border-left: 1px  solid #aaa;
  padding: 0 0.5em;
}

.categories li:first-child {
  border-left: none
}

.categories ul {
  padding: 0;
}

.footer {
  margin-left: 11em;
  padding: 1.25em;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.7em;
}

.footer ul:last-child li {
  float: left;
  margin-right: 1em;
  line-height: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}
